a{
    color: #000;
}
a:hover{
    color: #000;
    text-decoration: none;
}

body{
background-color: #f1f1f1;
}
/*header style*/
header{
    box-shadow: 0 3px 15px 3px #cccccc;
    background-color: #fff;
}
.logoSec{
}
.loginSec{
    border-bottom: 1px solid #a86845;
}
.login, .register{
    padding: 10px;
}
.login:hover, .register:hover{
    color: #a86845;
}
.searchSec{
    padding: 40px;
}
#search{
    border:1px solid #a86845;
    border-left:none;
    height: 34.5px;
    width: 60%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

#search:focus{
    outline:0;
}
#submit{
    border:1px solid #a86845;
    height: 35px;
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #df8e56;

}

.port-item1{
    width: 30%;
}
.port-item2{
    width: 70%;
}
/*header style*/



@media (max-width: 576px) {
    nav .container {
        width: 100%;

    }
    .navbar-brand{
       direction: ltr;
       float: left;
    }
    .clear-both{
        clear: both;
    }
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}
